body, button, a, input
  color: $white

input[type="text"]
  text-align: center

body, input
  font-family: 'Futura', 'Helvetica Neue', 'Arial', $sans-serif

input
  background: $pale-blue
  border: none
  outline: none
  padding: 10px 15px
  border-radius: 3px
  appearance: none

.road-rage
  font-family: 'Road Rage', sans-serif
  color: $cyan
  text-shadow: 0 -4px 10px transparentize($cyan, 0.5), 3px 3px 0 $violet
