body, button, a, input
  color: $white

input[type="text"]
  text-align: center

body, input
  font-family: 'Futura', 'Helvetica Neue', 'Arial', $sans-serif

input
  background: $pale-blue
  border: none
  outline: none
  padding: 10px 15px
  border-radius: 3px
  appearance: none
